<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    {% load static %}
    <link rel="stylesheet" href="{%static 'styles.css'%}">

</head>

<form action="{% url 'geotree:geo_selected'%}" method="post">
    {%csrf_token%}
    <div class="center">
        <label for="geography">Choose a geographic area: </label>

        <select name="geography" id="geography">
            {% for choice in geography %}
            <option value='{{choice.name}}'>{{choice.name}}</option>
            {% endfor %}
        </select>

        <br>

        <input type="submit" value="Generate Graph">

    </div>
</form>